<div class="container centered-card">
  <div class="tools-page-header">
    <h1>Your best tools, to rocket to the sky</h1>
    <%= link_to "Home sweet home", root_path, class: "btn-primary" %>
  </div>
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-components text-center">
            <div>
              <%= image_tag tool.image_url, size: "70x70" %>
            </div>
            <p> <%= tool.name %> </p>
            <p> <%= tool.description %> </p>
          </div>
          <%= link_to "", tool_path(tool), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


