<div class="container centered-card">
  <div class="tools-page-header">
    <h1>Your best tools, to rocket to the sky</h1>
    <%= form_tag tools_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control search-bar", placeholder: "Need a tool?" %>
    <% end %>
  </div>
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            <%= image_tag "//logo.clearbit.com/#{tool.website_url.match(/https:\/\/(.*)\//)[1]}", style: "height: 70px"%>
          </div>
          <div class="separation-line"></div>
          <div class="card-components text-center">
            <p> <%= tool.formatting_tool_name(tool) %> </p>
            <p> <%= tool.description %> </p>
          </div>
          <%= link_to "", tool_path(tool), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= render "shared/tool_modal" %>
