<div class="container centered-card">
  <h1>Your best tools, to rocket to the sky</h1>
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag tool.image_url, size: "70x70" %> <br>
          <%= tool.name %> <br>
          <%= tool.description %> <br>
          <br>
          <%= link_to "", tool_path(tool), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Home sweet home", root_path, class: "btn-primary" %>
