<div class="container centered-card">
  <div class="tools-page-header">
    <%= form_tag tools_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control search-bar", placeholder: "Type whatever you need" %>
    <% end %>
  </div>
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            <%= image_tag "//logo.clearbit.com/#{tool.format_website_url}", style: "height: 70px"%>
          </div>
          <div class="separation-line"></div>
          <div class="card-components text-center">
            <% if tool.clearbit_enrichment["name"].nil? %>
              <p> <%= tool.clearbit_enrichment["domain"] %> </p>
            <% else %>
              <p> <%= tool.clearbit_enrichment["name"] %> </p>
            <% end %>
            <p>
              <% tool.clearbit_enrichment["tags"].first(3).each do |tag| %>
                <%= tag %>
              <% end %>
            </p>
          </div>
          <%= link_to "", tool_path(tool), class: "card-link" %>
        </div>
        <%= link_to "", tool_path(tool), class: "far fa-times-circle card-delete-button", data: { confirm: "Delete this tool?" }, method: :delete %></p>
      </div>

    <% end %>
  </div>
</div>



<%= render "shared/tool_modal" %>



