DON'T NEED ANYMORE

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
      <%= simple_form_for @tool do |f|%>
        <%= f.input :name, class: "form-control"%>
        <%= f.input :tagline, class: "form-control"%>
        <%= f.input :website_url, class: "form-control"%>
        <%= f.input :chrome_extension_url, class: "form-control"%>
        <%=  f.submit "add tool to library" %>
      <% end %>
    </div>
  </div>
</div>

