<div class="wrapper show-card-wrapper">
  <div class="container show-card-container">
    <div class="show-card-header">
      <p id="tagline"><%= @tool.formatting_tool_tagline(@tool) %></p>
    </div>
    <div class="show-card-components">
      <p id="card-components-left">
        <%= image_tag "//logo.clearbit.com/#{@tool.website_url.match(/(https|http):\/\/(.*)\//)[2]}"%> <br>
        <%= link_to @tool.formatting_tool_name(@tool), @tool.website_url %>
      </p>
      <p id="card-components-center">
        <%= @tool.long_description %>
      </p>
      <p id="card-components-rigth">
        <%= @tool.website_url %>
      </p>
    </div>
  </div>
  <%= link_to "Delete", tool_path(@tool), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
<%= render "shared/tool_modal" %>
