<div class="wrapper show-card-wrapper">
  <div class="container show-card-container">
    <div class="show-card-header">
      <p id="tagline"><%= @tool.formatting_tool_tagline(@tool) %></p>
    </div>
    <div class="show-card-components">
      <p id="card-components-left">
        <%= image_tag "//logo.clearbit.com/#{@tool.website_url.match(/(https|http):\/\/(.*)\//)[2]}"%> <br>
        <%= link_to @tool.formatting_tool_name(@tool), @tool.website_url %>
      </p>
      <p id="card-components-center">
        <%= @tool.description %>
      </p>
      <p id="card-components-rigth">
        <%= @tool.website_url %>
      </p>
    </div>
    <%= link_to "", tool_path(@tool), class: "far fa-times-circle show-card-delete-button", data: { confirm: "Delete this tool?" }, method: :delete %></p>
  </div>
</div>
<%= render "shared/tool_modal" %>

<i class="far fa-times-circle"></i>
