<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">What your next great tool?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @tool do |f|%>
          <%= f.input :name, class: "form-control"%>
          <%= f.input :tagline, class: "form-control" %>
          <%= f.input :website_url, class: "form-control"%>
          <%= f.input :long_description, class: "form-control"%>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%=  f.submit "Save", class: "btn btn-secondary" %>
      </div>
        <% end %>
    </div>
  </div>
</div>
